@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=block');

@keyframes flash {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

#escape-warning {
  position: absolute;
  left: -15%;
  top: calc(25% + 125px);
  transform: translateX(-50%);
  font-size: 9px;
  text-align: center;
  animation: flash 1s linear infinite;
  color: #ff0000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to the text */
}


.hidden {
  display: none;
}

h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 36px;
  transform: translateX(-50%);
  z-index: 10; /* Make sure the title is above other elements */
  text-shadow: 2px 6px 8px rgb(17, 255, 0); /* Add a shadow to the title */
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #636161;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-instruction {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-start-button,
#restart-game-button {
  font-size: 24px;
  font-family: 'Press Start 2P', cursive; /* Use the pixel font */
  padding: 12px 24px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Add a shadow to create dimension */
  opacity: 0.9; /* Add some opacity */
  transition: opacity 0.2s, background-color 0.2s; /* Add transition for hover effect */
}

#game-start-button:hover,
#restart-game-button:hover {
  background-color: #45a049;
  opacity: 1; /* Increase opacity on hover */
}


#game-canvas {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #000000;
  border: 2px solid #13d302;
  margin: 70px auto 0; /* Add a margin to make room for the title */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Add a shadow to create a 3D effect */
}

#game-canvas,       /* this hides game screen/restart until initiated */
#restart-game-button {
  display: none;
}



.star {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('images/star.gif');
  background-size: cover;
}

.cat,
.mouse {
  position: absolute;
  width: 80px;
  height: 80px;
}

.cat {
  background-image: url('images/cat.gif');
  background-size: cover;
}

.mouse {
  background-image: url('images/mouse.gif');
  background-size: cover;
}

#mouse-jail-title {
  position: absolute;
  left: -15%;
  top: 10%; 
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  color: #000000;
}

#mouse-jail {
  position: absolute;
  width: 220px;
  height: 125px;
  border: 2px solid #000000;
  left: calc(-65% + 400px);
  top: 25%;
  transform: translate(-50%, -50%);
  background-color: #050303;
  background-size: cover;
  opacity: 0.8;
}

#star-container {
  position: absolute;
  width: 35px;
  height: 500px;
  right: -40px;
  top: 0;
}



#win-banner {
  font-size: 24px;
  display: none;
  margin-top: 20px;
}
